<!DOCTYPE html>
<html>
    <head>
        <title>My_visio_blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My_visio_blog</a></h1>
        </div>
        <div>
            <p>published: 21.10.2022</p>
            <h2><a href="">My_first_post</a></h2>
            <p>When i grow up I wanna be famous</p>
        </div>
        <div>
            <p>published: 21.10.2022</p>
            <h2><a href="">My_second_post</a></h2>
            <p>I wanna be a star</p>
        </div>
    </body>
</html>